@font-face {
  font-family: 'socicon';
  src: url('font/socicon-webfont.eot');
  src: url('font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/socicon-webfont.woff') format('woff'),
  url('font/socicon-webfont.woff2') format('woff2'),
  url('font/socicon-webfont.ttf') format('truetype'),
  url('font/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

.socicon {
  font-family: 'socicon';
}

body {
  font-size: 110%;
  line-height:1.333em;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em;
  color: #777;
}

.content {
  margin: auto;
  margin-top:1em;
  margin-bottom:3em;
  max-width: 70%;
}

.content h1 {
  font-weight: 100;
  font-family: sans-serif;
  text-align: center;
  margin-bottom:1em;
  border-bottom: 1px solid #EEE;
  padding: 1em;
  font-size: 265%;
}

.content a {
  text-decoration: none;
}

.image-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: super;
  margin-bottom: 2em;
  max-width: 100%;
}

a {
  color: #3B8BBA;
  text-decoration: none;
}
